@media (max-width: 480px) {
	.accordion * {
		display: block;
		z-index: 1;
	}

	#carouselExampleControls * {
		display: none;
	}
}

@media (min-width: 481px) {
	.accordion-item {
		display: none;
	}
}